	
<div id="personalMainfooter" class="personalMainfooter">

	<span id="infoA" ng-click="jump('personalMain.info');">
		<div class="footerImg">
			<img src="{{imgUrl[0]}}" alt="">
			<span>4</span>
		</div>
		<span class="{{font[0]}}">信息</span>
	</span>

	<span id="contactsA" ng-click="jump('personalMain.contacts');">
		<div class="footerImg"><img src="{{imgUrl[1]}}" alt=""></div>
		<span class="{{font[1]}}">联系人</span>
	</span>

	<span id="personalA" ng-click="jump('personalMain.personal');">
		<div class="footerImg"><img src="{{imgUrl[2]}}" alt=""></div>
		<span class="{{font[2]}}">个人中心</span>
	</span>

</div>

