
<div class="chatBody">

	<div class="header">
		<div class="header-bg">
			<div class="header-left" onClick="javascript:history.back(-1);">
				<i class="repassLeft"><img src="./asset/images/register-left.png" alt=""></i>
				<span class="personal">消息</span>
			</div>
			<span>程医生</span>
			<div class="header-right">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="times">
			<span class="time">20:00</span>
		</div>
		
		<div class="Mychat">
			<div class="chat-font">李医生，手术后老失眠</div>
			<div class="chat-img"><img src="./asset/images/head-img.png"></div>
		</div>

		<div class="times">
			<span class="time">20:30</span>
		</div>

		<div class="Hechat">
			<div class="chat-img"><img src="./asset/images/info-img7.png"></div>
			<div class="chat-font">李医生，手术后老失眠李医生，手术后老失眠李医生，手术后老失眠</div>
		</div>

		<div class="Hechat">
			<div class="chat-img"><img src="./asset/images/info-img7.png"></div>
			<div class="chat-font">最好躺这静养几天，如果病情还复发记得尽快来医院就诊</div>
		</div>

		<div class="times">
			<span class="time">20:30</span>
		</div>

		<div class="Mychat">
			<div class="chat-font">好的，那复查时间什么时候呢</div>
			<div class="chat-img"><img src="./asset/images/head-img.png"></div>
		</div>

		<div class="Hechat">
			<div class="chat-img"><img src="./asset/images/info-img7.png"></div>
			<div class="chat-font">
				<div><img src="./asset/images/chat-img3.png"></div>
				<ul>
					<li>复查时间表</li>
					<li>点击查看</li>
				</ul>
			</div>
		</div>

		<div class="Mychat">
			<div class="chat-font">好的，那复查时间什么时候呢</div>
			<div class="chat-img"><img src="./asset/images/head-img.png"></div>
		</div>

	</div>

	<div class="footer">

		<div>
			
			<div class="footer-left"><img src="./asset/images/chat-img1.png"></div>
			<div class="footer-center">
				<input type="text" name="">
			</div>

			<div class="footer-right">
				<div class="footer-rightImg">
					<div><img src="./asset/images/chat-img2.png"></div>
				</div>
				<div class="footer-rightImg">
					<div><img src="./asset/images/chat-img4.png"></div>
				</div>
			</div>

		</div>
		
	</div>

</div>

