
	<div class="checkBody">
		
		<div class="header">
			<div class="header-bg">
				<div class="header-left" onClick="javascript:history.back(-1);">
					<i class="checkLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">个人中心</span>
				</div>
				<span>实名认证</span>
			</div>
		
		</div>

		<div class="content">
			
			<form action="">

				<div class="check">
					<div class="content-line">
						<input type="text" class="text" placeholder="姓名：" onfocus="placeholder= ''" onblur="placeholder= '姓名：'" />
					</div>
				</div>

				<div class="check">
					<div class="content-line">
						<input type="text" class="text" placeholder="身份证号码：" onfocus="placeholder= ''" onblur="placeholder= '身份证号码：'" />
					</div>
				</div>

				<div class="btn">
					<div onClick="javascript:history.back(-1);">提交</div>
				</div>

			</form>

		</div>

	</div>
	
