
		<div  class="contactsBody" ng-swipe-left="jump('personalMain.personal');" ng-swipe-right="jump('personalMain.info');" >
			<div class="header">

				<div>
					<div class="header-left">联系人</div>

					<div class="header-right">
						<span ng-click="jump('search');"><img src="./asset/images/info-img2.png" alt=""></span>
						<span><img src="./asset/images/contacts-img1.png" alt=""></span>
					</div>
				</div>

			</div>

			<div class="content">

				<div class="list-group">
					<div class="list">
						<span>紧急联系人</span>
						<div class="list-groupImg"><img src="./asset/images/contacts-img2.png" alt=""></div>
					</div>
				</div>

				<div class="list-group">
					<div class="list">
						<span>常用联系人</span>
						<div class="list-groupImg-down"><img src="./asset/images/contacts-img3.png" alt=""></div>
					</div>

					<div class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img5.png"></div>
							<span>John医生</span>
						</div>
					</div>

					<div class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img10.png"></div>
							<span>Marie</span>
						</div>
					</div>

					<div  ng-click="jump('detailed');" class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img7.png"></div>
							<span>程医生</span>
						</div>
					</div>

					<div class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img9.png"></div>
							<span>黄医生</span>
						</div>
					</div>

					<div class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img6.png"></div>
							<span>李护士</span>
						</div>
					</div>

					<div class="list-line">
						<div class="list-user">
							<div class="list-img"><img src="./asset/images/info-img8.png"></div>
							<span>谭院长</span>
						</div>
					</div>

				</div>

			</div>
		</div>
<contacts-directive></contacts-directive>