
	<div class="detailedBody">
		
		<div class="header">

			<div class="header-bg">
				<div class="header-left" onClick="javascript:history.back(-1);">
					<i class="repassLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">联系人</span>
				</div>
				<span>详细资料</span>
				<div class="header-right">
					<img src="./asset/images/detailed-img1.png" />
				</div>
			</div>

			<div class="header-centerImg">
				<img src="./asset/images/info-img7.png">
			</div>

		</div>

		<div class="content">

			<div class="brief">

				<ul>
					<li>姓名：程伟</li>
					<li>职位：主任医生</li>
					<li>科室：神经内科</li>
				</ul>
			</div>
			
			<div class="content-content">
				<h3>医生简介:</h3>
				<p>程伟，主任医师，临床心理工作者，全国神经学委会，8你那来一直专注于临床实践，涉及广泛，勤思好学，积极进取，好专研各种疑难问题。经历大量格式临床案例，熟悉本科各种常见病得整治。对各种疑难杂症也有较丰富的处治经验。</p>
			</div>
			<div class="content-content">
				<h3>擅长：</h3>
				<p>擅长头晕，头痛，痴呆，抑郁焦虑，失眠，恐惧脱髓病，老年变性病，颅内不明白性质病变。</p>
			</div>

			<div class="content-btn">
				<div class="btn">预约</div>
				
			</div>

			<div class="content-btn">
				<div class="btn">咨询</div>
			</div>

		</div>

	</div>
