
		<div class="infoBody" ng-swipe-left="jump('personalMain.contacts');" ng-swipe-right="jump('personalMain.personal');">
			<div class="header">

				<div>
					<div class="header-left">消息</div>

					<div class="header-right">
						<div ng-click="jump('search');"><img src="./asset/images/info-img2.png" alt=""></div>
						<div ng-click="jump('take');"><img src="./asset/images/info-img3.png" alt=""></div>
						<div ng-click="jump('review');"><img src="./asset/images/info-img4.png" alt=""></div>
					</div>
				</div>

			</div>

			<div class="content">

				<div ng-click="jump('chat');" class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img7.png" alt="">
								<span>2</span>
							</div>
							<ul>
								<li>程医生</li>
								<li>注意多休息</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img9.png" alt="">
								<span>3</span>
							</div>
							<ul>
								<li>黄医生</li>
								<li>【图片】</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img5.png" alt="">
								<span>4</span>
							</div>
							<ul>
								<li>John医生</li>
								<li>有时间来医院检查一下</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img8.png" alt="">
								<span>1</span>
							</div>
							<ul>
								<li>谭院长</li>
								<li>明天见</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img6.png" alt="">
							</div>
							<ul>
								<li>李护士</li>
								<li>好的</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img10.png" alt="">
							</div>
							<ul>
								<li>Marie</li>
								<li>Yes</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

				<div class="media">
					<div class="media-body">
						<div class="media-body-left">
							<div>
								<img src="./asset/images/info-img5.png" alt="">
							</div>
							<ul>
								<li>广州人民医院</li>
								<li>从明天开始广州人民医院将开启网络你是大量客流将达萨拉降落伞</li>
							</ul>
						</div>
						<div class="media-body-right">
							09:12
						</div>
					</div>
					<div class="media-line"></div>
				</div>

			</div>
		</div>
		

<info-directive></info-directive>