	
	<div class="personalDataBody">

		<div class="header">
			<div class="header-bg">
				<div class="header-left" onClick="javascript:history.back(-1);">
					<i class="personalDataLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">个人中心</span>
				</div>
				<span>个人资料</span>
			</div>

			<div class="head-img">
				<img src="./asset/images/head-img.png" alt="">
			</div>
		
		</div>

		<div class="content">
				
			<form action="">
				
				<div class="personalData">
					<div class="content-line">
						<input type="text" class="text" placeholder="姓名：" onfocus="placeholder= ''" onblur="placeholder= '姓名：'" />
					</div>
				</div>

				<div class="personalData">
					<div class="content-line">
						<input type="text" class="text" placeholder="性别：" onfocus="placeholder= ''" onblur="placeholder= '性别：'" />
					</div>
				</div>

				<div class="personalData">
					<div class="content-line">
						<input type="text" class="text" placeholder="年龄：" onfocus="placeholder= ''" onblur="placeholder= '年龄：'" />
					</div>
				</div>

				<div class="personalData">
					<div class="content-line">
						<input type="text" class="text" placeholder="地区：" onfocus="placeholder= ''" onblur="placeholder= '地区：'" />
					</div>
				</div>

				<div class="personalData">
					<div class="content-line">
						<input type="text" class="text" placeholder="近期病例：" onfocus="placeholder= ''" onblur="placeholder= '近期病例：'" />
					</div>
				</div>

				<div class="btn">
					<div onClick="javascript:history.back(-1);">提交</div>
				</div>

			</form>

		</div>

	</div>

