
	<div class="repassBody">
		
		<div class="header">
			<div class="header-bg">
				<div class="header-left" onClick="javascript:history.back(-1);">
					<i class="repassLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">个人中心</span>
				</div>
				<span>重置密码</span>
			</div>
		</div>

		<div class="content">
			<form action="">
				
				<div class="repass">
					<div class="content-line">
						<input type="text" class="text" placeholder="原始密码：" onfocus="placeholder= ''" onblur="placeholder= '原始密码：'" />
					</div>
				</div>

				<div class="repass">
					<div class="content-line">
						<input type="text" class="text" placeholder="新密码：" onfocus="placeholder= ''" onblur="placeholder= '新密码：'" />
					</div>
				</div>

				<div class="repass">
					<div class="content-line">
						<input type="text" class="text" placeholder="重复密码：" onfocus="placeholder= ''" onblur="placeholder= '重复密码：'" />
					</div>
				</div>

				<div class="btn">
					<div onClick="javascript:history.back(-1);">提交</div>
				</div>

			</form>
		</div>

	</div>

