
<div class="reviewBody">
	
	<div class="header">
		<div class="header-bg">
			<div class="header-left" onClick="javascript:history.back(-1);">
				<i class="repassLeft"><img src="./asset/images/register-left.png" alt=""></i>
				<span class="personal">消息</span>
			</div>
			<span>复查</span>
		</div>
	</div>

	<div class="content">

		<div class="content-top">
			<div class='calendar' ng-init="calendar()" id='calendar'></div>
		</div>

		<div class="content-bottom">
			<h3>今日复查：</h3>
			<div class="content-bottomCheck">
				<span>神经内科复查报告</span>
				<a href="">查看</a>
			</div>
		</div>

	</div>

</div>

