
	<div class="searchBody">
		
		<div class="header">
			<div class="header-bg">
				<div class="header-left" class="header-left" onClick="javascript:history.back(-1);">
					<i class="personalDataLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">|</span>
				</div>

				<div class="header-input">
					<input type="text" name="">
				</div>
				
				<a class="header-font">搜索</a>

			</div>
		
		</div>

		<div class="content">
			
			<div class="content-top">热门搜索</div>

			<div class="content-bottom">
				<ul>
					<li><span href="">联系人</span></li>
					<li><span href="">复查清单</span></li>
					<li><span href="">公众号</span></li>
				</ul>
			</div>

		</div>

	</div>
