
	<link rel="stylesheet" href="./asset/css/take.css">

	<div class="takeBody">
		<div class="header">
			<div class="header-bg">
				<div class="header-left" onClick="javascript:history.back(-1);">
					<i class="repassLeft"><img src="./asset/images/register-left.png" alt=""></i>
					<span class="personal">消息</span>
				</div>
				<span>取号</span>
				<div class="header-right">
					<div>广州 <span><img src="./asset/images/take-img1.png"></span></div>
				</div>
			</div>
		</div>

		<div class="content">
			
			<div class="group">
				<div class="group-left">医院</div>
				<div class="group-right">
				<span>广州人民医院</span>
				<div  class="group-img"><img src="./asset/images/contacts-img2.png"></div>
				</div>
			</div>

			<div class="group">
				<div class="group-left">科室</div>
				<div class="group-right">
				<span>精神内科</span>
				<div  class="group-img"><img src="./asset/images/contacts-img2.png"></div>
				</div>
			</div>

			<div class="btn">
				<div >取号</div>
			</div>

		</div>

	</div>
